body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #4ecdc4;
    padding: 15px;
    display: flex;
}
header img {
    width: 80px;
    height: 60px;
    margin-right: 10px;
}
ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding: 0 5px;
}
ul li {
    display: inline-block;
}
ul {
    position: absolute;
    right: 15px;
}
h1 {
    margin: 0;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
}
.banner {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position-y: 40%;
    height: 500px;
}
.banner p {
    text-align: left;
    color: #000;
    font-size: 45px;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    padding-top: 30px;
    padding-left: 30px;
}
.grid-banner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px;
}
.grid-banner div {
    width: 25%;
    padding: 0 30px;
    text-align: center;
}
.grid-banner img{
    width: 60%;
    transform: translateY(0px);
    transition: transform .8s;
}

.grid-banner img:hover{
    transform: translateY(-20px);
    transition: transform .8s;
}
.title-grid {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.img-news img {
    width: 100%;
}
.img-news {
    width: 70%;
    display: inline-block;
}
.img-news img {
    width: 90%;
    float: right;
}
section.news {
    display: inline-flex;
    width: 100%;
    background-color: #efefef;
}
.title-grid.two p {
    padding: 50px 0;
    margin: 0;
    background-color: #efefef;
}
.form {
    width: 50%;
}
form {
    text-align: center;
    margin-top: 40px;
}
.form input {
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
}
a.btn-form {
    text-decoration: none;
    color: #000;
    border: 2px solid #999;
    padding: 5px 25px;
    background-color: #efefef;
}

.rodape{
    text-align: center;
    background-color:black;
    color: white;
    padding-top: 10px;
    


}